@use "colors" as c;
@use "functions" as *;
@use "breakpoints" as *;

.special-heading {
	color: c.$header-txt;
	font-size: rem(100);
	text-align: center;
	font-weight: 800;
	letter-spacing: -3px;
	margin: 0;
	@include breakpoint-down(small) {
		font-size: rem(70);
		margin-top: 20px;
	}
	+ p {
		margin: -30px 0 0;
		font-size: rem(20);
		text-align: center;
		color: #797979;
		@include breakpoint-down(small) {
			margin-top: -20px;
			font-size: rem(15);
		}
	}
}

.scroll-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 5px;
	background-color: c.$main-color;
}
