:root {
   --blue: #0075ff;
   --blue-alt: #0d69d5;
   --orange: #f59e0b;
   --green: #22c55e;
   --red: #f44336;
   --grey: #888;
}
* {
   box-sizing: border-box;
   padding: 0;
}
body {
   margin: 0;
   font-family: "open sans", sans-serif;
}
*:not(.head .search input:focus):focus {
   outline: none;
}
a {
   text-decoration: none;
}
ul {
   list-style: none;
}
::-webkit-scrollbar {
   width: 15px;
}
::-webkit-scrollbar-track {
   background-color: #fff;
}
::-webkit-scrollbar-thumb {
   background-color: var(--blue);
}
::-webkit-scrollbar-thumb:hover {
   background-color: var(--blue-alt);
}
.page {
   background-color: #f1f5f9;
   min-height: 100vh;
}
/* Start SideBar  */
.sidebar {
   width: 250px;
   box-shadow: 0 0 10px #ddd;
}
@media (min-width: 768px) {
   .sidebar > h3 {
      margin-bottom: 50px;
   }
   .sidebar > h3::before,
   .sidebar > h3::after {
      content: "";
      position: absolute;
      background-color: #000;
      left: 50%;
      transform: translateX(-50%);
   }
   .sidebar > h3::before {
      width: 80px;
      height: 2px;
      bottom: -20px;
   }
   .sidebar > h3::after {
      bottom: -29px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 4px solid #fff;
   }
}

.sidebar ul li a {
   transition: 0.3s;
   margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
   background-color: #f6f6f6;
}
.sidebar ul li a span {
   font-size: 14px;
   margin-left: 10px;
}
@media (max-width: 767px) {
   .sidebar {
      width: 58px;
      padding: 10px;
   }
   .sidebar > h3 {
      font-size: 13px;
   }
   .sidebar ul li a span {
      display: none;
   }
   .sidebar .copyright {
      display: none;
   }
}
.sidebar .copyright {
   font-size: 0.8rem;
   position: absolute;
   bottom: 5px;
}
.sidebar .copyright span {
   color: var(--blue);
   font-weight: bold;
}
.sidebar .copyright span.copy {
   color: #000;
   font-weight: normal;
}
/* End SideBar  */
/* Start Content   */
.content {
   overflow: hidden;
}
.content .search::before {
   font: var(--fa-font-solid);
   content: "\f002";
   font-weight: 900;
   position: absolute;
   left: 15px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 14px;
   color: var(--grey);
}
.head .search input {
   margin-left: 5px;
   padding-left: 30px;
   width: 160px;
   transition: width 0.3s;
}
.head .search input:focus {
   outline-color: #ddd;
   width: 200px;
}
.head .search input:focus::placeholder {
   opacity: 0;
}
.head .icons .notification::before {
   content: "";
   position: absolute;
   width: 10px;
   height: 10px;
   background-color: var(--red);
   border-radius: 50%;
   right: -5px;
   top: -5px;
}
.head .icons img {
   width: 32px;
   height: 32px;
   margin-left: 15px;
}
.page h1 {
   margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
   content: "";
   position: absolute;
   height: 3px;
   bottom: -10px;
   left: 0;
}
.page h1::before {
   width: 120px;
   background-color: #fff;
}
.page h1::after {
   width: 40px;
   background-color: #000;
}
.wrapper {
   grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
}
@media (max-width: 767px) {
   .wrapper {
      grid-template-columns: minmax(100px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      grid-template: 10px;
   }
}
/* End Content   */
/* Start Welcome Widget  */
.welcome {
   overflow: hidden;
}
.welcome .intro img {
   width: 170px;
   margin-bottom: -16px;
}
.welcome > img {
   width: 64px;
   border: 2px solid #fff;
   border-radius: 50%;
   padding: 2px;
   box-shadow: 0 0 5px #ddd;
   margin-left: 20px;
   margin-top: -32px;
}
.welcome .body {
   border-top: 1px solid #eee;
   border-bottom: 1px solid #eee;
}
.welcome .body > div {
   flex: 1;
}
.welcome .visit {
   margin: 0px 15px 15px auto;
   transition: 0.3s;
}
.welcome .visit:hover {
   background-color: var(--blue-alt);
}
@media (max-width: 767px) {
   .welcome .intro {
      padding-bottom: 30px;
   }
   .welcome > img {
      margin-left: 0;
   }
   .welcome .body > div:not(:last-child) {
      margin-bottom: 20px;
   }
   .welcome .body > div span {
      margin-top: 3px;
   }
}
/* End Welcome Widget  */

/* Start Quick Draft Widget */
.quick-draft textarea {
   resize: none;
   min-height: 180px;
}
.quick-draft .save {
   margin-left: auto;
   transition: 0.3s;
   cursor: pointer;
}
.quick-draft .save:hover {
   background-color: var(--blue-alt);
}
/* End Quick Draft Widget  */

/* Start Yearly Targets Widget  */
.targets .target-row .icon {
   width: 80px;
   height: 80px;
   margin-right: 15px;
}
.targets .details {
   flex: 1;
   text-align: left;
}
.targets .details .progress {
   height: 4px;
}
.targets .details .progress > span {
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   transition: 2s;
}
.targets .details .progress > span div {
   position: absolute;
   bottom: 16px;
   right: -16px;
   color: #fff;
   padding: 2px 5px;
   border-radius: 6px;
   font-size: 13px;
}
.targets .details .progress > span div:after {
   content: "";
   border-color: transparent;
   border-width: 5px;
   border-style: solid;
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translateX(-50%);
}
.targets .details .progress > .blue div:after {
   border-top-color: var(--blue);
}
.targets .details .progress > .blue div:after {
   border-top-color: var(--blue);
}
.targets .details .progress > .blue div:after {
   border-top-color: var(--blue);
}
.blue .icon,
.blue .progress {
   background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
   background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
   background-color: rgb(34 197 94 / 20%);
}
/* End Yearly Targets Widget  */
/* Start Tickets Widget  */
.tickets .box {
   width: calc(50% - 10px);
}
@media (max-width: 767px) {
   .tickets .box {
      width: 100%;
   }
}
.tickets .box span:first-of-type {
   font-size: 25px;
}
/* End Tickets Widget  */
/* Start News Widget  */
.news img {
   width: 100px;
   height: 60px;
   margin-right: 15px;
}
.news .info {
   flex-grow: 1;
}
@media (max-width: 767px) {
   .news .new-row span {
      margin: 10px auto;
      width: fit-content;
   }
   .news img {
      margin-right: 0;
   }
}
/* End News Widget  */
/* Start Tasks  */
.tasks .task-row .info {
   flex-grow: 1;
}
.tasks .task-row i {
   cursor: pointer;
}
.deleted {
   opacity: 0.3;
   text-decoration: line-through;
}
/* End Tasks  */
/* Start Uploads Widget  */
.uploads img {
   width: 45px;
   margin-right: 15px;
}
.uploads .info {
   flex-grow: 1;
}
/* End Uploads Widget  */
/* Start Project Progress  */
.last-project ul::before {
   content: "";
   position: absolute;
   left: 11px;
   width: 2px;
   height: 100%;
   background-color: var(--blue);
}
.last-project ul li::before {
   content: "";
   width: 20px;
   height: 20px;
   display: block;
   border-radius: 50%;
   background-color: #fff;
   border: 2px solid #fff;
   outline: 2px solid var(--blue);
   margin-right: 15px;
   z-index: 1;
}
.last-project ul li.done::before {
   background-color: var(--blue);
}
.last-project ul li.current::before {
   animation: change-color 0.8s infinite alternate;
}
.last-project img {
   position: absolute;
   display: block;
   width: 160px;
   right: 0;
   bottom: 0;
   opacity: 0.1;
}
/* End Project Progress  */
/* Start Post Widget  */
.post img {
   width: 50px;
}
/* End Post Widget  */
/* Start Media  */
.media .box {
   padding-left: 70px;
}
.media .box i {
   position: absolute;
   left: 0;
   top: 0;
   width: 52px;
   transition: 0.3s;
}
.media .box i:hover {
   transform: rotate(5deg);
}
.media .twitter {
   background-color: #1da1f220;
   color: #1da1f2;
}
.media .twitter i,
.media .twitter a {
   background-color: #1da1f2;
}

.media .facebook {
   background-color: #1877f220;
   color: #1877f2;
}
.media .facebook i,
.media .facebook a {
   background-color: #1877f2;
}
.media .youtube {
   background-color: #ff000020;
   color: #ff0000;
}
.media .youtube i,
.media .youtube a {
   background-color: #ff0000;
}
.media .linkedin {
   background-color: #0077b520;
   color: #0077b5;
}
.media .linkedin i,
.media .linkedin a {
   background-color: #0077b5;
}

/* End Media  */

/* Start Projects Table */
.project .responvive-table {
   overflow-x: auto;
}
.project table {
   /* max-width: 100%; */
   min-width: 1000px;
   border-spacing: 0;
}
@media (min-width: 1200px) {
   .project table {
      width: 100%;
   }
}
.project thead td {
   background-color: #eee;
   font-weight: bold;
}
.project table td {
   padding: 15px;
}
.project tbody td {
   border-bottom: 1px solid #eee;
   border-left: 1px solid #eee;
   transition: 0.3s;
}
.project table tbody tr td:last-child {
   border-right: 1px solid #eee;
}
.project tbody tr:hover td {
   background-color: #faf7f7;
}
.project table img {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   padding: 2px;
   background-color: #fff;
}
.project table img:not(:first-child) {
   margin-left: -20px;
}
/* End Projects Table */

/* Start Settings Page  */
.Settings-page {
   grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
}
@media (max-width: 767px) {
   .Settings-page {
      grid-template-columns: minmax(100px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      grid-template: 10px;
   }
}
/* Start Control Widget  */
.Settings-page .control textarea {
   resize: none;
   height: 140px;
}
.Settings-page .control textarea::placeholder {
   font-weight: 600;
}
@media (max-width: 767px) {
   .Settings-page .problem {
      width: 180px;
   }
}
/* End Control Widget  */

/* Start General Widget  */
.Settings-page .general form input {
   border: 1px solid #ccc;
   font-size: 14px;
   box-shadow: 0px 2px #eee;
}
.Settings-page .general form input[type="email"] {
   background-color: #eee;
   width: calc(100% - 80px);
}
.Settings-page .general form input[type="email"]::placeholder {
   color: rgb(163, 162, 162);
}
/* End General Widget  */
/* Start Social Widget  */
.Settings-page .social i {
   width: 40px;
   height: 40px;
   background-color: #f6f6f6;
   border: 1px solid #ddd;
   border-right: none;
   border-radius: 6px 0 0 6px;
   transition: 0.3s;
}
.Settings-page .social input {
   height: 40px;
   background-color: #f6f6f6;
   border: 1px solid #ddd;
   padding-left: 10px;
   border-radius: 0 6px 6px 0;
}
.Settings-page .social > div:focus-within i {
   color: #000;
}
/* End Social Widget  */

/* Start Widgets Control  */
.Settings-page .ctrl input {
   -webkit-appearance: none;
   appearance: none;
}
.Settings-page .ctrl label {
   padding-left: 30px;
   cursor: pointer;
   position: relative;
}
.Settings-page .ctrl label::before,
.Settings-page .ctrl label::after {
   left: 0;
   top: 50%;
   margin-top: -9px;
   position: absolute;
   border-radius: 5px;
}
.Settings-page .ctrl label::before {
   content: "";
   width: 14px;
   height: 14px;
   border: 2px solid var(--grey);
}
.Settings-page .ctrl label:hover::before {
   border-color: var(--blue-alt);
}
.Settings-page .ctrl label::after {
   font: var(--fa-font-solid);
   content: "\f00c";
   font-weight: 900;
   background-color: var(--blue);
   color: white;
   font-size: 12px;
   width: 18px;
   height: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: scale(0) rotate(360deg);
   transition: 0.3s;
}
.Settings-page .ctrl input:checked + label::after {
   transform: scale(1);
}
/* End Widgets Control  */

/* Start Backup Manger Widget  */
.Settings-page .backup-manger input {
   -webkit-appearance: none;
   appearance: none;
}
.Settings-page .date label {
   padding-left: 30px;
   cursor: pointer;
   position: relative;
}
.Settings-page .date label::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 0;
   margin-top: -11px;
   width: 18px;
   height: 18px;
   border: 2px solid var(--grey);
   border-radius: 50%;
}
.Settings-page .date label::after {
   content: "";
   position: absolute;
   left: 5px;
   top: 5px;
   width: 12px;
   height: 12px;
   background-color: var(--blue);
   border-radius: 50%;
   transition: 0.3s;
   transform: scale(0);
}
.Settings-page .date input:checked + label::before {
   border-color: var(--blue);
}
.Settings-page .date input:checked + label:after {
   transform: scale(1);
}

@media (max-width: 767px) {
   .Settings-page .servers {
      border-top: 1px solid #eee;
      padding-top: 20px;
      flex-wrap: wrap;
   }
}
.Settings-page .servers .server {
   border: 2px solid #eee;
   position: relative;
}
.Settings-page .servers .server label {
   cursor: pointer;
}
.Settings-page .servers input:checked + .server {
   border-color: var(--blue);
   color: var(--blue);
}
/* End Backup Manger Widget  */

/* End Settings Page  */

/* Start Profile Page  */
@media (max-width: 767px) {
   .profile-page .overview {
      flex-direction: column;
   }
}
.profile-page .avatar-box {
   width: 300px;
}
@media (min-width: 768px) {
   .profile-page .avatar-box {
      border-right: 1px solid #eee;
   }
}
.profile-page .avatar-box > img {
   width: 120px;
}
.profile-page .avatar-box .level {
   height: 6px;
   margin: auto;
   width: 70%;
}
.profile-page .avatar-box .level span {
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 6px;
   height: 100%;
   background-color: var(--blue);
}

.profile-page .info-box .box {
   transition: 0.3s;
}
.profile-page .info-box .box:hover {
   background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
   min-width: 250px;
   padding: 10px 0 0;
}
.profile-page .info-box h4 {
   font-weight: normal;
}
.profile-page .toggle-switch {
   height: 20px;
}
@media (max-width: 767px) {
   .profile-page .toggle-switch {
      margin: auto;
   }
   .profile-page .info-box .box {
      justify-content: center;
   }
}
.profile-page .toggle-switch::before {
   height: 12px;
   width: 12px;
   font-style: 8px;
}
.profile-page .toggle-checkbox:checked + .toggle-switch::before {
   left: 62px;
}

@media (max-width: 970px) {
   .profile-page .other-data {
      flex-direction: column;
   }
}
.profile-page .skills-card {
   flex-grow: 1;
}
.profile-page .activites {
   flex-grow: 2;
}
.profile-page .activites img {
   width: 64px;
   height: 64px;
}
@media (min-width: 768px) {
   .profile-page .active-row .date {
      margin-left: auto;
      text-align: right;
   }
}
@media (max-width: 767px) {
   .profile-page .active-row img {
      margin-right: 0;
      margin-bottom: 15px;
   }
   .profile-page .active-row .date {
      margin-top: 15px;
   }
}

/* End Profile Page  */

/* Start Projects Page  */
.projects {
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
}
@media (max-width: 767px) {
   .projects {
      grid-template-columns: minmax(200px, 1fr);
   }
}
.projects .card img {
   width: 45px;
   height: 45px;
   background-color: #fff;
   border-radius: 50%;
   padding: 2px;
   margin-left: -20px;
   position: relative;
   cursor: pointer;
}
.projects .card img:hover {
   z-index: 14;
}
.projects .card .techs {
   display: flex;
   justify-content: end;
}
.projects .card .techs span:not(:last-child) {
   margin-right: 10px;
}
.projects .prgress-bar {
   height: 8px;
}
.projects .card .progress {
   transition: 1s;
}
.projects .card > span:first-of-type {
   position: absolute;
   top: 10px;
   right: 20px;
}
@media (max-width: 767px) {
   .projects .card .techs {
      flex-direction: column;
      width: fit-content;
   }
   .projects .card .techs span {
      margin-bottom: 10px;
   }
   .projects .card div:last-of-type {
      flex-direction: column;
   }
   .projects .card div:last-of-type .prgress-bar {
      width: 100%;
      margin-bottom: 15px;
   }
}
/* End Projects Page  */

/* Start Courses Page  */
.courses-page {
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
   .courses-page {
      grid-template-columns: minmax(200px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10;
   }
}
.courses-page .course {
   overflow: hidden;
}
.courses-page .course .cover {
   max-width: 100%;
}
.courses-page .course .instructor {
   position: absolute;
   width: 64px;
   height: 64px;
   border-radius: 50%;
   top: 20px;
   left: 20px;
   border: 2px solid #fff;
}
.courses-page .course .info {
   border-top: 1px solid #eee;
   font-size: 13px;
}
.courses-page .course .info .title {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   font-size: 13px;
   top: -13px;
}
/* End Courses Page  */

/* Start Friends Pager  */
.friends-page {
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   margin: 0 20px 20px 20px;
}
@media (max-width: 767px) {
   .friends-page {
      grid-template-columns: minmax(200px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10;
   }
}
.friends-page .card > i {
   position: absolute;
   border-radius: 50%;
   top: 10px;
   left: 10px;
}
.friends-page .card i.email {
   left: 50px;
}
.friends-page .card .avatar img {
   width: 120px;
   border-radius: 50%;
}
.friends-page .card .vip {
   position: absolute;
   right: 10px;
   color: orange;
   font-size: 60px;
   font-weight: bold;
   opacity: 0.3;
}

/* End Friends Pager  */

/* Start Files Page  */
.files-page {
   margin: 0 20px 20px 20px;
}
.files-page .files-area {
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   /* margin: 0 20px 20px 20px; */
   flex-grow: 1;
}
@media (max-width: 767px) {
   .files-page .files-area {
      grid-template-columns: 1fr;
      margin: 0 10px 10px 10px;
   }
}
.files-page .files-area .box {
   height: fit-content;
}
.files-page .files-area .box i {
   position: absolute;
   top: 10px;
}
.files-page .files-area .box img {
   width: 64px;
   height: 64px;
   transition: 0.3s;
}
.files-page .files-area .box:hover img {
   transform: rotate(5deg);
}
.files-page .files-area .box h3 {
   font-weight: normal;
}
.files-page .file-stats {
   height: fit-content;
   min-width: 260px;
}
.files-page .file-stats .box {
   box-shadow: 0px 1px 0 #eee;
}
.files-page .file-stats .box i {
   width: 40px;
   height: 40px;
}
.files-page .file-stats .box .size {
   margin-left: auto;
}

@media (max-width: 767px) {
   .files-page .file-stats {
      order: 1;
      width: 100%;
      margin-bottom: 20px;
   }
   .files-page .files-area {
      order: 2;
      margin: 0;
   }
}
.files-page .file-stats .upload {
   padding: 10px 15px;
   margin: auto;
   transition: 0.3s;
   cursor: pointer;
}
.files-page .file-stats .upload:hover {
   background-color: var(--blue-alt);
}
.files-page .file-stats .upload:hover i {
   animation: go-up 0.8s infinite;
}
/* End Files Page  */

/* Start Plans Page  */
.plans-page {
   grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
   margin: 0 20px 20px 20px;
}
@media (max-width: 767px) {
   .plans-page {
      grid-template-columns: minmax(250px, 1fr);
      margin: 0 10px 20px 10px;
      gap: 10;
   }
}
.plans-page .info .info-icon {
   margin-left: auto;
}
.plans-page .plane .price {
   border: 3px solid #fff;
}
.plans-page .plane.free .price {
   outline: 3px solid var(--green);
}
.plans-page .plane.basic .price {
   outline: 3px solid var(--blue);
}
.plans-page .plane.premium .price {
   outline: 3px solid var(--orange);
}
/* End Plans Page  */

/* Start Scroll Bar  */
.scroll-bar {
   position: fixed;
   top: 0;
   left: 0;
   background-color: var(--blue);
   height: 5px;
   width: 0;
   z-index: 999;
}
/* End Scroll Bar  */

/* Start Animation  */
@keyframes change-color {
   from {
      background-color: var(--blue);
   }
   to {
      background-color: white;
   }
}
@keyframes go-up {
   0%,
   100% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-5px);
   }
}
/* End Animation  */
