@use "../utils/functions" as *;
@use "../utils/colors" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;

$socials: (
	"facebook": #1877f2,
	"youtube": #ff0000,
	"twitter": #1da1f2,
);

.contact {
	min-height: calc(100vh - rem(125));
	display: flex;
	align-items: center;
	padding: 60px 0px;
	background-color: #f6f6f6;
	.info {
		padding: rem(60) 0;
		text-align: center;
		.label {
			font-size: rem(35);
			font-weight: 800;
			color: #ebeced;
			letter-spacing: -2px;
			margin-bottom: rem(15);
			@include breakpoint-down(small) {
				font-size: 25px;
			}
		}
		a {
			display: block;
			color: $main-color;
			@include breakpoint-down(small) {
				font-size: 25px;
			}
			font: {
				weight: 800;
				size: rem(35);
			}
		}
		.social {
			display: flex;
			justify-content: center;
			margin-top: rem(20);
			font-size: rem(16);

			i {
				margin-left: rem(10);
				color: #ebeced;
				cursor: pointer;
				transition: 0.3s;
				@each $name, $color in $socials {
					&.#{$name}:hover {
						color: $color;
					}
				}
			}
		}
	}
}
